<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctoradar</title>
</head>
<body>
    {% extends 'layout/nav.html' %}
    {% block content %}
    <div class="testbox">
        <h1>Detalles de doctor</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
       <center>
            <button class="b">Guardar</button>
        </center>
    </form>
    <form action="{% url 'eliminarDoctor' doctor.id %}" method="POST">
        {% csrf_token %}
    <center>
            <button class ="e">Eliminar</button>
        </center>
    </form>
    </div>
    {% endblock %}
</body>
</html>