<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctoradar</title>
</head>
<body>
    {% extends 'layout/nav.html' %}
    {% block content %}
    <div class="content">
        <h1>Bienvenido {{ name }}</h1>
        <br><br>
        <p class="texto-justificado">Ofrece una plataforma que utiliza la geolocalización para encontrar médicos, hospitales y otros servicios de emergencia cercanos a la ubicación del usuario.</p> 
        <p class="texto-justificado">También cuanta descuentos y promociones especiales para los clientes y hace que se sientan valorados.</p>
    </div>
    {% endblock %}
</body>
</html>